{% extends 'dashboard/base.html' %}
{% block title %}User Form{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}


    <div class="page-wrapper">
    <div class="page-content">
        <div class="container-fluid">


            {% if object %}
                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a class="btn btn-secondary btn-sm" href="{% url 'accounts:list' %}"><i
                                class="fa fa-arrow-left-long me-1"></i> Go Back</a>
                        Edit User</h4>

                </div>
            {% else %}
                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a class="btn btn-secondary btn-sm" href="{% url 'accounts:list' %}"><i
                                class="fa fa-arrow-left-long me-1"></i> Go Back</a>
                        Add User</h4>

                </div>
            {% endif %}


            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-light text-dark text-center">
                            <h5 class="mb-0">User Form</h5> <!-- Replace 'Form Title' with your desired heading -->
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
