# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode files
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# pyenv
.python-version

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Test coverage
htmlcov/
.tox/
coverage/
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/
/migrations
**/migrations/
*.pytest_cache/

*.pyc
*.pyo
