{% extends 'dashboard/base.html' %}
{% block title %}Customers{% endblock %}
{% load static %}
{% block content %}


    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">


                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">Customers</h4>
                    <div class="">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'customer:index' %}">Customers</a>
                            </li><!--end nav-item-->
                        </ol>
                    </div>
                </div>


                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2 row">
                                <div class="col-sm-6">
                                    <form method="get" action="" class="d-flex align-items-center">
                                        <input
                                                class="form-control search-box me-2 mb-2 d-inline-block"
                                                placeholder="Search..."
                                                name="q"
                                                value="{{ search_query|default:'' }}"/>
                                        <button class="btn btn-primary mb-2" type="submit">Search</button>
                                    </form>
                                </div>
                                <div class="col-sm-6 float-end">
                                    <div class="text-sm-end">
                                        <a href="{% url 'customer:create' %}"
                                           class="btn btn-primary btn-rounded waves-effect waves-light addContact-modal mb-2 btn btn-primary">
                                            <i class="mdi mdi-plus me-1"></i> New Customer
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive rounded">
                                <table class="align-middle table-nowrap table-hover dt-responsive nowrap w-100 dataTable no-footer dtr-inline table table-hover">
                                    <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Company</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Receivables</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td>
                                                <div class="avatar-xs">
                                                    <span class="avatar-title rounded-circle">{{ customer.id }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 class="font-size-14 mb-1">
                                                    {#                                            <a class="text-dark" href="{% url 'customer:detail' customer.id %}">#}
                                                    {{ customer.first_name }} {{ customer.last_name }}
                                                    {#                                            </a>#}
                                                </h5>
                                                <p class="text-muted mb-0">{{ customer.customer_type }}</p>
                                            </td>
                                            <td>{{ customer.company_name }}</td>
                                            <td>{{ customer.email }}</td>
                                            <td>{{ customer.phone }}</td>
                                            <td>{{ customer.currency }}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-3 text-center text-warning">
                                                        <i class="fa fa-edit"></i><br>
                                                        Edit
                                                    </div>
                                                    <div class="col-md-3 text-danger text-center">
                                                        <i class="fa fa-trash text-danger"></i><br>
                                                        Delete
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">No Customers found.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div>
                                <ul class="pagination mt-1">
                                    <!-- Previous Button -->
                                    {% if customers.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?q={{ search_query }}&page={{ customers.previous_page_number }}"
                                               tabindex="-1">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}

                                    <!-- Page Numbers -->
                                    {% for num in customers.paginator.page_range %}
                                        {% if customers.number == num %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ num }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?q={{ search_query }}&page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Next Button -->
                                    {% if customers.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?q={{ search_query }}&page={{ customers.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}