{% extends 'dashboard/base.html' %}
{% block title %}Customer Detail{% endblock %}
{% load static %}

{% block content %}



<div class="page-wrapper">
    <div class="page-content">
        <div class="container-fluid">


            <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                <h4 class="page-title"> {{ object }}</h4>
                <div class="">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'customer:index' %}">Customers</a>
                        </li><!--end nav-item-->
                        <li class="breadcrumb-item active">{{ object }}</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header fw-bold small d-flex">
                                <i class="fa-solid fa-envelope mt-1 me-2"></i>
                                <span class="flex-grow-1">{{ object.email }}</span>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-1">
                                        <div>
                                            <img class="  border-secondary border-2 rounded-2  profile-header-img"
                                                 style="max-width: 50px" src="{% static 'img/company.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        <h5 class="card-title">{{ object.company_name }}</h5>
                                        <h6 class="card-subtitle mb-3 text-body text-opacity-50">{{ object.salutation }}
                                            {{ object.first_name }} {{ object.last_name }}</h6>
                                    </div>
                                </div>
                                <div class="mb-1 ms-3">
                                    <i class="fa-solid fa-envelope me-2"></i> {{ object.email }}
                                    <i class="fa-solid fa-phone ms-2"></i> {{ object.phone }}
                                </div>
                                <div class="mb-1 ms-3">
                                    <i class="fa-solid fa-location-dot me-2"></i> {% if object.shipping_address or billig_address %} {{ object.shipping_address.city }} {% else %}
                                    No Address added {% endif %}
                                </div>
                                <div class="mb-1 ms-3">
                                    <div class="">
                                        <small><a href="#" class="text-primary">Edit</a></small>
                                        <small><a href="#" class="text-primary">Invite to Portal</a></small>
                                        <small><a href="#" class="text-primary">Delete</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- background & border -->
                    <div class="card mb-3">
                        <div class=" d-flex card-header  fw-bold  text-body justify-content-between">
                            <div>
                                <i class="fa-solid fa-file-invoice me-2"></i> Invoices
                            </div>
                            <div>
                                <a class="text-success" href="#">
                                    Add <i class="fa-solid fa-plus text-success"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-1">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <!-- background & border -->
                    <div class="card border-theme bg-opacity-25 mb-3">
                        <div class=" d-flex card-header border-theme fw-bold  text-body justify-content-between">
                            <div>
                                <i class="fa-solid fa-building me-2"></i> Address
                            </div>

                        </div>
                        <div class="card-body">
                            {% if object.shipping_address %}
                            <div class="row mb-3">
                                <div class="row d-flex align-items-center">
                                <div class=" d-flex ">
                                    <h6 class="text-dark me-auto">Shipping Address</h6>
                                    <small><a href="{% url 'customer:shipping-update' pk=object.pk %}" class="text-primary">Edit</a></small>
                                </div>
                            </div>
                                <p>
                                    {{ object.shipping_address.attention }}, {{ object.shipping_address.street_1 }},
                                    {{ object.shipping_address.city }}, {{ object.shipping_address.state }},
                                    {{ object.shipping_address.country_region }}, {{ object.shipping_address.zip_code }}
                                </p>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center align-items-center text-primary mb-3">
                                <a href="{% url 'customer:shipping-add' pk=object.pk %}" class="text-primary">
                                    <i class="fa-solid fa-plus text-primary me-2"></i> Add Shipping Address
                                </a>
                            </div>
                            {% endif %}
                            {% if object.billing_address %}
                            <div class="row">
                                <div class="row d-flex align-items-center">
                                <div class=" d-flex ">
                                    <h6 class="text-dark me-auto">Billing Address</h6>
                                    <small><a href="{% url 'customer:billing-update' pk=object.pk %}" class="text-primary">Edit</a></small>
                                </div>
                            </div>
                                <p>
                                    {{ object.billing_address.attention }}, {{ object.billing_address.street_1 }},
                                    {{ object.billing_address.city }}, {{ object.billing_address.state }},
                                    {{ object.billing_address.country_region }}, {{ object.billing_address.zip_code }}
                                </p>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center align-items-center text-primary">
                                <a href="{% url 'customer:billing-add' pk=object.pk %}" class="text-primary">
                                    <i class="fa-solid fa-plus text-primary me-2"></i> Add Billing Address
                                </a>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="d-flex">
                        <h5 class="card-title">Receivables</h5> <h5 class="card-title ms-auto text-success float-right ">255</h5>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}