{% extends 'dashboard/base.html' %}
{% block title %}Create Customer{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                            <h4 class="page-title">New Transaction</h4>
                            <div class="">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#">Approx</a>
                                    </li><!--end nav-item-->
                                    <li class="breadcrumb-item active">New Transaction</li>
                                </ol>
                            </div>
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-globe-img">
                            <div class="card-body">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="fs-16 fw-semibold">Current Budget</span>
                                        <form class="">
                                        </form>
                                    </div>

                                    <h4 class="my-2 fs-24 fw-semibold">{{ project.get_total_budget }} <small
                                            class="font-14">PKR</small>
                                    </h4>
                                    <p class="mb-3 text-muted fw-semibold">
                                        <a href="{% url 'assets:index' %}">
                                            <button type="submit" class="btn btn-soft-primary mt-2">Wallet</button>
                                        </a>
                                        <a href="{% url 'project:detail' project.pk %}">
                                            <button type="button" class="btn btn-soft-danger mt-2">Details</button>
                                        </a>
                                </div>

                                <div class="row align-items-center mt-3">
                                    <div class="col">
                                        <h4 class="card-title">Wallet:</h4>

                                        <div class="table-responsive mt-3">
                                            <table class="table mb-0">
                                                <tbody>
                                                <tr class="">
                                                    <td class="px-0">
                                                        <div class="d-flex align-items-center">
                                                            <span class="thumb-md justify-content-center d-flex align-items-center bg-success-subtle text-success rounded-circle me-2">SF</span>
                                                            <div class="flex-grow-1 text-truncate">
                                                                <h6 class="m-0 text-truncate">Cash in hand</h6>
                                                                <p class="font-12 mb-0 text-muted">20 August 2024</p>
                                                            </div><!--end media body-->
                                                        </div><!--end media-->
                                                    </td>
                                                    <td class="px-0 text-end"><span
                                                            class="text-primary ps-2 align-self-center text-end">${{ cash_balance }}</span>
                                                    </td>
                                                </tr><!--end tr-->
                                                <tr class="">
                                                    <td class="px-0">
                                                        <div class="d-flex align-items-center">
                                                            <span class="thumb-md justify-content-center d-flex align-items-center bg-warning-subtle text-warning rounded-circle me-2">UI</span>
                                                            <div class="flex-grow-1 text-truncate">
                                                                <h6 class="m-0 text-truncate">Account Balance</h6>
                                                                <p class="font-12 mb-0 text-muted">15 August 2024</p>
                                                            </div><!--end media body-->
                                                        </div><!--end media-->
                                                    </td>
                                                    <td class="px-0 text-end"><span
                                                            class="text-primary ps-2 align-self-center text-end"> ${{ account_balance }}</span>
                                                    </td>
                                                </tr><!--end tr-->

                                                </tbody>
                                            </table> <!--end table-->
                                        </div><!--end /div-->

                                    </div><!--end col-->
                                </div>

                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->

                    <div class="col-md-12 col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary mb-0">Add Budget</button>
                                </form>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div> <!--end col-->
                </div><!--end row-->

            </div><!-- container -->


            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
{% endblock %}

