{% extends 'dashboard/base.html' %}
{% block title %}Customer Detail{% endblock %}
{% load static %}
{% load project_tags %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">


                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a href="javascript:void(0);" onclick="history.back();">
                            <div class="btn btn-secondary btn-sm me-2">
                                <i class="fa fa-arrow-left me-1"></i>Go Back
                            </div>
                        </a>
                        Project Finance Detail</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Project</a></li>
                            <li class="breadcrumb-item active">Finance</li>
                        </ol>
                    </div>

                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                    <div class="card bg-globe-img">
                        <h4 class="m-2 text-center">Transfer Project funds to Cash In Hand</h4>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary mt-2 w-100">Transfer</button>
                            </form>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div>
                </div>



            </div>
        </div>
    </div>

{% endblock %}