{% extends 'dashboard/base.html' %}
{% block title %}Customer Detail{% endblock %}
{% load static %}
{% load project_tags %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">


                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a class="btn btn-secondary btn-sm" href="{% url 'project:detail' project.pk %}"><i class="fa fa-arrow-left-long me-1"></i> Go Back</a>
                        Project Finance Detail</h4>
                    <div class="">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'customer:index' %}">Customers</a>
                            </li><!--end nav-item-->
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="card bg-globe-img">
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fs-16 fw-semibold">Project Balance</span>
                                    <a href="{%  url 'project:transfer_to_cash' project.pk %}"><span class="btn btn-primary">Transfer to Project Cash</span></a>
                                </div>

                                <h4 class="my-2 fs-24 fw-semibold">{{ project.get_total_budget }} <small class="font-14">PKR</small></h4>

                                <span class="fs-16 fw-semibold">Money Spent from wallet:<span class="badge bg-danger-subtle text-danger fs-11 fw-medium px-2 ms-1 mb-1">{{ budget_assigned }} PKR</span></span>
                                <br>
                                <span class="fs-16 fw-semibold">Money From Client <small>(Paid Invoices)</small> <span class="badge bg-success-subtle text-success fs-11 fw-medium px-2 ms-1 mb-1">{{ money_form_invoice }} PKR </span></span>
                                <br>
                                <span class="fs-16 fw-semibold">Project Expenditure: <small>(Expenses Created)</small> <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2 ms-1 mb-1">{{ Project_expenditure }} PKR </span></span>
                                <a href="{%  url 'charts:download' project.pk %}"><span class="btn btn-warning float-end">Download</span></a>

                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div>


                {# STATISTICS #}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">Expense Summary</h4>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <form method="get" action="">
                                            <div class="col-md-4 mb-2 float-end">
                                                <select name="transaction_type" id="transaction_type"
                                                        class="form-select" onchange="this.form.submit()">
                                                    <option value="">All Transaction Types</option>
                                                    {% for code, name in transaction_types %}
                                                        <option value="{{ code }}"
                                                                {% if selected_transaction_type == code %}selected{% endif %}>
                                                            {{ name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </form>

                                    </div>


                                </div>
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="border-top-0">Transaction Type</th>
                                        <th class="border-top-0">Project</th>
                                        <th class="border-top-0">Source</th>
                                        <th class="border-top-0 text-center">Destinatino</th>
                                        <th class="border-top-0 ">Reason</th>
                                        <th class="border-top-0">Amount</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in ledger_entries %}
                                        <tr>
                                            <td><a href="#"><span
                                                    class="badge bg-danger-subtle text-danger fs-11 fw-medium px-2">{{ object.transaction_type }}</span></a>
                                            </td>
                                            <td>{{ object.project }}</td>
                                            <td>
                                                {{ object.source }}
                                            </td>
                                            <td class="text-center">{{ object.destination }}</td>
                                            <td class="">{{ object.reason|slice:'100' }}</td>
                                            <td>{{ object.amount }} PKR</td>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}