{% extends 'dashboard/base.html' %}
{% block title %}Create Project{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <div class="page-wrapper">
    <div class="page-content">
        <div class="container-fluid">


            {% if object %}
                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a href="{% url 'project:detail' object.pk %}">
                            <div class="btn btn-secondary btn-sm me-2"><i class="fa fa-arrow-left me-1"></i>Go Back
                            </div>
                        </a>
                        Update Project
                    </h4>

                </div>
            {% else %}
                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a href="{% url 'project:index' %}">
                            <div class="btn btn-secondary btn-sm me-2"><i class="fa fa-arrow-left me-1"></i>Go Back
                            </div>
                        </a>
                        Add Project
                    </h4>

                </div>
            {% endif %}


            <div class="row">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% crispy form %}
                        {% if object %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endif %}
                    </form>
                </div>
                <div class="col-md-6">
                    <img style="margin-top: 50px" src="{% static 'img/customer.png' %}" alt="Project"
                         class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel"
         aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Create New Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <!-- The form will be inserted here dynamically -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = new bootstrap.Modal(document.getElementById('addCustomerModal'));
    </script>
    <script>
        // Load the customer form into the modal body when the modal is opened
        $('#addCustomerModal').on('show.bs.modal', function () {
            $.get("{% url 'project:customer_modal_create' %}", function (data) {
                if (data.success) {
                    $('#modalBody').html(data.form_html);
                } else {
                    alert("Failed to load the form.");
                }
            });
        });

        $(document).on('submit', '#addCustomerForm', function (e) {
            e.preventDefault();

            const formData = $(this).serialize();
            const csrfToken = $('meta[name="csrf-token"]').attr('content');

            $.ajax({
                url: "{% url 'project:customer_modal_create' %}",
                type: "POST",
                data: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function (data) {
                    // Clear any previous error messages
                    $('.form-error').remove();

                    if (data.success) {
                        // On successful form submission, add new customer to the select dropdown
                        const customerSelect = document.getElementById('id_customer');
                        const newOption = document.createElement('option');
                        newOption.value = data.customer.id;
                        newOption.textContent = `${data.customer.first_name} ${data.customer.last_name}`;
                        newOption.selected = true;
                        customerSelect.appendChild(newOption);

                        // Hide the modal and reset the form
                        $('#addCustomerModal').modal('hide');  // Use Bootstrap's modal method to hide
                        $('#addCustomerForm')[0].reset();  // Reset the form
                    } else {
                        // Display new error messages for each invalid field
                        $.each(data.errors, function (field, messages) {
                            const fieldElement = $('#id_' + field);
                            // Loop through error messages for this field and display them
                            messages.forEach(function (message) {
                                const errorMessage = $('<div class="form-error text-danger"></div>').text(message);
                                fieldElement.after(errorMessage);  // Append error message after the field
                            });
                        });
                    }
                }
            });
        });
    </script>





{% endblock content %}
