{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                            <h4 class="page-title">
                                <a class="btn btn-secondary btn-sm me-2" href="{% url 'project:detail' project.pk %}"><i
                                        class="fa fa-arrow-left-long me-1"></i> Go Back</a>

                                Invoices</h4>
                            <div class="">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#">Catalyst</a>
                                    </li><!--end nav-item-->
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->


                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">All Transactions</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        {#                                        Filters#}
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body pt-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                        <tr>
                                            <th class="border-top-0">Invoice Number</th>
                                            <th class="border-top-0">Issue Date</th>
                                            <th class="border-top-0">Total Amount</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Items</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for invoice in object_list %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'invoice:detail' invoice.pk %}">{{ invoice.invoice_number }}</a>
                                                </td>
                                                <td>{{ invoice.date|date:"d M Y" }}
                                                <td>{{ invoice.total_amount }} PKR</td>
                                                <td>
                                                    {% if invoice.status == 'PAID' %}

                                                        <span class="badge bg-success-subtle text-success fs-11 fw-medium px-2 ms-1">
                                                            {{ invoice.status }}
                                                        </span>
                                                    {% else %}
                                                        <span class="badge bg-danger-subtle text-danger fs-11 fw-medium px-2">
                                                            {{ invoice.status }}
                                                        </span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ invoice.items.count }}
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">No invoices recorded for this
                                                    project.
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div><!--end /div-->
                                <div class="d-lg-flex justify-content-lg-between mt-2">
                                    <div>
                                        <ul class="pagination mt-1">
                                            {% if object_list.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ object_list.previous_page_number }}">Previous</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>
                                            {% endif %}

                                            {% for page_num in object_list.paginator.page_range %}
                                                {% if page_num == object_list.number %}
                                                    <li class="page-item active">
                                                        <a class="page-link" href="#">{{ page_num }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                           href="?page={{ page_num }}">{{ page_num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if object_list.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ object_list.next_page_number }}">Next</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Next</a>
                                                </li>
                                            {% endif %}
                                        </ul><!--end pagination-->
                                    </div>
                                </div>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}