{% extends 'dashboard/base.html' %}
{% block title %}Customer Detail{% endblock %}
{% load static %}
{% load project_tags %}


{% block content %}
<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                        <h4 class="page-title">Projects</h4>
                        <div class="">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Approx</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item active">Projects</li>
                            </ol>
                        </div>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="card bg-globe-img">
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fs-16 fw-semibold">Balance</span>
                                    <form class="">
                                        <div>
                                            <div class="dynamic-select example-select" id="dynamic-select" style="">
                                                <input type="hidden" name="example-select" value="1">
                                                <div class="dynamic-select-header" style="">

                                                    <img src="{% static 'website/images/logos/m-card.png' %}" alt="xx25"
                                                         class="" style="">
                                                    <span class="dynamic-select-option-text">xx25</span>

                                                </div>
                                                <div class="dynamic-select-options" style="">
                                                    <div class="dynamic-select-option dynamic-select-selected"
                                                         data-value="1" style="width:100%;">

                                                        <img src="{% static 'website/images/logos/m-card.png' %}"
                                                             alt="xx25" class="" style="">
                                                        <span class="dynamic-select-option-text">xx25</span>

                                                    </div>

                                                    <div class="dynamic-select-option" data-value="2"
                                                         style="width:100%;">

                                                        <img src="{% static 'website/images/logos/ame-bank.png' %}"
                                                             alt="xx56" class="" style="">
                                                        <span class="dynamic-select-option-text">xx56</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <h4 class="my-2 fs-24 fw-semibold">122.5692.00 <small class="font-14">PKR</small></h4>
                                <p class="mb-3 text-muted fw-semibold">
                                    <span class="text-success"><i class="fas fa-arrow-up me-1"></i>11.1%</span>
                                    Outstanding balance boost
                                </p>
                                <button type="submit" class="btn btn-soft-primary">Transfer</button>
                                <button type="button" class="btn btn-soft-danger">Request</button>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
                <div class="col-md-12 col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 col-lg-4">
                                    <div id="customers" class="apex-charts" style="min-height: 172.977px;">
                                        <div id="apexchartsad52nolu"
                                             class="apexcharts-canvas apexchartsad52nolu apexcharts-theme-light"
                                             style="width: 190px; height: 172.977px;">
                                            <svg id="SvgjsSvg1021" width="190" height="172.97685546875"
                                                 xmlns="http://www.w3.org/2000/svg" version="1.1"
                                                 class="apexcharts-svg"
                                                 xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                                 style="background: transparent;">
                                                <foreignObject x="0" y="0" width="190" height="172.97685546875">
                                                    <div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom"
                                                         xmlns="http://www.w3.org/1999/xhtml"
                                                         style="inset: auto 0px 5px 20px; position: absolute; max-height: 102.5px;">
                                                        <div class="apexcharts-legend-series" rel="1"
                                                             seriesname="Income" data:collapsed="false"
                                                             style="margin: 2px 5px;"><span
                                                                class="apexcharts-legend-marker" rel="1"
                                                                data:collapsed="false"
                                                                style="background: rgb(43, 62, 177) !important; color: rgb(43, 62, 177); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span
                                                                class="apexcharts-legend-text" rel="1" i="0"
                                                                data:default-text="Income" data:collapsed="false"
                                                                style="color: rgb(55, 61, 63); font-size: 13px; font-weight: 400; font-family: &quot;Be Vietnam Pro&quot;, sans-serif;">Income</span>
                                                        </div>
                                                        <div class="apexcharts-legend-series" rel="2"
                                                             seriesname="Expense" data:collapsed="false"
                                                             style="margin: 2px 5px;"><span
                                                                class="apexcharts-legend-marker" rel="2"
                                                                data:collapsed="false"
                                                                style="background: rgb(252, 113, 0) !important; color: rgb(252, 113, 0); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span
                                                                class="apexcharts-legend-text" rel="2" i="1"
                                                                data:default-text="Expense" data:collapsed="false"
                                                                style="color: rgb(55, 61, 63); font-size: 13px; font-weight: 400; font-family: &quot;Be Vietnam Pro&quot;, sans-serif;">Expense</span>
                                                        </div>
                                                    </div>
                                                    <style type="text/css">
                                                        .apexcharts-legend {
                                                          display: flex;
                                                          overflow: auto;
                                                          padding: 0 10px;
                                                        }
                                                        .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                          flex-wrap: wrap
                                                        }
                                                        .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                          flex-direction: column;
                                                          bottom: 0;
                                                        }
                                                        .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                          justify-content: flex-start;
                                                        }
                                                        .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                          justify-content: center;
                                                        }
                                                        .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                          justify-content: flex-end;
                                                        }
                                                        .apexcharts-legend-series {
                                                          cursor: pointer;
                                                          line-height: normal;
                                                        }
                                                        .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{
                                                          display: flex;
                                                          align-items: center;
                                                        }
                                                        .apexcharts-legend-text {
                                                          position: relative;
                                                          font-size: 14px;
                                                        }
                                                        .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                          pointer-events: none;
                                                        }
                                                        .apexcharts-legend-marker {
                                                          position: relative;
                                                          display: inline-block;
                                                          cursor: pointer;
                                                          margin-right: 3px;
                                                          border-style: solid;
                                                        }

                                                        .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{
                                                          display: inline-block;
                                                        }
                                                        .apexcharts-legend-series.apexcharts-no-click {
                                                          cursor: auto;
                                                        }
                                                        .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                                          display: none !important;
                                                        }
                                                        .apexcharts-inactive-legend {
                                                          opacity: 0.45;
                                                        }
                                                    </style>
                                                </foreignObject>
                                                <g id="SvgjsG1023" class="apexcharts-inner apexcharts-graphical"
                                                   transform="translate(12, 0)">
                                                    <defs id="SvgjsDefs1022">
                                                        <clipPath id="gridRectMaskad52nolu">
                                                            <rect id="SvgjsRect1024" width="174" height="117" x="-3"
                                                                  y="-3" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                  stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                        <clipPath id="forecastMaskad52nolu"></clipPath>
                                                        <clipPath id="nonForecastMaskad52nolu"></clipPath>
                                                        <clipPath id="gridRectMarkerMaskad52nolu">
                                                            <rect id="SvgjsRect1025" width="172" height="115" x="-2"
                                                                  y="-2" rx="0" ry="0" opacity="1" stroke-width="0"
                                                                  stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                                                        </clipPath>
                                                    </defs>
                                                    <g id="SvgjsG1026" class="apexcharts-pie">
                                                        <g id="SvgjsG1027" transform="translate(0, 0) scale(1)">
                                                            <circle id="SvgjsCircle1028" r="33.702439024390245" cx="84"
                                                                    cy="55.5" fill="transparent"></circle>
                                                            <g id="SvgjsG1029" class="apexcharts-slices">
                                                                <g id="SvgjsG1030"
                                                                   class="apexcharts-series apexcharts-pie-series"
                                                                   seriesName="Income" rel="1" data:realIndex="0">
                                                                    <path id="SvgjsPath1031"
                                                                          d="M 84 7.353658536585364 A 48.146341463414636 48.146341463414636 0 1 1 42.30404519340288 79.57317073170731 L 54.81283163538201 72.35121951219512 A 33.702439024390245 33.702439024390245 0 1 0 84 21.797560975609755 L 84 7.353658536585364 z "
                                                                          fill="rgba(43,62,177,1)" fill-opacity="1"
                                                                          stroke-opacity="1" stroke-linecap="butt"
                                                                          stroke-width="2" stroke-dasharray="0"
                                                                          class="apexcharts-pie-area apexcharts-donut-slice-0"
                                                                          index="0" j="0" data:angle="240"
                                                                          data:startAngle="0" data:strokeWidth="2"
                                                                          data:value="50"
                                                                          data:pathOrig="M 84 7.353658536585364 A 48.146341463414636 48.146341463414636 0 1 1 42.30404519340288 79.57317073170731 L 54.81283163538201 72.35121951219512 A 33.702439024390245 33.702439024390245 0 1 0 84 21.797560975609755 L 84 7.353658536585364 z "
                                                                          stroke="transparent"></path>
                                                                </g>
                                                                <g id="SvgjsG1032"
                                                                   class="apexcharts-series apexcharts-pie-series"
                                                                   seriesName="Expense" rel="2" data:realIndex="1">
                                                                    <path id="SvgjsPath1033"
                                                                          d="M 42.30404519340288 79.57317073170731 A 48.146341463414636 48.146341463414636 0 0 1 83.99159687822939 7.353659269896077 L 83.99411781476057 21.79756148892725 A 33.702439024390245 33.702439024390245 0 0 0 54.81283163538201 72.35121951219512 L 42.30404519340288 79.57317073170731 z "
                                                                          fill="rgba(252,113,0,1)" fill-opacity="1"
                                                                          stroke-opacity="1" stroke-linecap="butt"
                                                                          stroke-width="2" stroke-dasharray="0"
                                                                          class="apexcharts-pie-area apexcharts-donut-slice-1"
                                                                          index="0" j="1" data:angle="120"
                                                                          data:startAngle="240" data:strokeWidth="2"
                                                                          data:value="25"
                                                                          data:pathOrig="M 42.30404519340288 79.57317073170731 A 48.146341463414636 48.146341463414636 0 0 1 83.99159687822939 7.353659269896077 L 83.99411781476057 21.79756148892725 A 33.702439024390245 33.702439024390245 0 0 0 54.81283163538201 72.35121951219512 L 42.30404519340288 79.57317073170731 z "
                                                                          stroke="transparent"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <line id="SvgjsLine1035" x1="0" y1="0" x2="168" y2="0"
                                                          stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                          class="apexcharts-ycrosshairs-hidden"></line>
                                                </g>
                                            </svg>
                                            <div class="apexcharts-tooltip apexcharts-theme-dark">
                                                <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                        class="apexcharts-tooltip-marker"
                                                        style="background-color: rgb(43, 62, 177);"></span>
                                                    <div class="apexcharts-tooltip-text"
                                                         style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                        <div class="apexcharts-tooltip-y-group"><span
                                                                class="apexcharts-tooltip-text-y-label"></span><span
                                                                class="apexcharts-tooltip-text-y-value"></span></div>
                                                        <div class="apexcharts-tooltip-goals-group"><span
                                                                class="apexcharts-tooltip-text-goals-label"></span><span
                                                                class="apexcharts-tooltip-text-goals-value"></span>
                                                        </div>
                                                        <div class="apexcharts-tooltip-z-group"><span
                                                                class="apexcharts-tooltip-text-z-label"></span><span
                                                                class="apexcharts-tooltip-text-z-value"></span></div>
                                                    </div>
                                                </div>
                                                <div class="apexcharts-tooltip-series-group" style="order: 2;"><span
                                                        class="apexcharts-tooltip-marker"
                                                        style="background-color: rgb(252, 113, 0);"></span>
                                                    <div class="apexcharts-tooltip-text"
                                                         style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                        <div class="apexcharts-tooltip-y-group"><span
                                                                class="apexcharts-tooltip-text-y-label"></span><span
                                                                class="apexcharts-tooltip-text-y-value"></span></div>
                                                        <div class="apexcharts-tooltip-goals-group"><span
                                                                class="apexcharts-tooltip-text-goals-label"></span><span
                                                                class="apexcharts-tooltip-text-goals-value"></span>
                                                        </div>
                                                        <div class="apexcharts-tooltip-z-group"><span
                                                                class="apexcharts-tooltip-text-z-label"></span><span
                                                                class="apexcharts-tooltip-text-z-value"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-9">
                                                            <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
                                                                Daily</p>
                                                            <h4 class="mt-1 mb-0 fw-medium">$76.50</h4>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-3 align-self-center">
                                                            <div class="d-flex justify-content-center align-items-center thumb-md rounded mx-auto">
                                                                <i class="iconoir-dollar-circle fs-22 align-self-center mb-0 text-muted opacity-50"></i>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                                <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-9">
                                                            <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
                                                                Weekly</p>
                                                            <h4 class="mt-1 mb-0 fw-medium">$852.50</h4>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-3 align-self-center">
                                                            <div class="d-flex justify-content-center align-items-center thumb-md rounded mx-auto">
                                                                <i class="iconoir-calendar fs-22 align-self-center mb-0 text-muted opacity-50"></i>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                                <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-9">
                                                            <p class="text-muted text-uppercase mb-0 fw-normal fs-13">
                                                                Monthly</p>
                                                            <h4 class="mt-1 mb-0 fw-medium">$8542</h4>
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-3 align-self-center">
                                                            <div class="d-flex justify-content-center align-items-center thumb-md  rounded mx-auto">
                                                                <i class="iconoir-stats-report fs-22 align-self-center mb-0 text-muted opacity-50"></i>
                                                            </div>
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                                <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <p class="mb-0  text-success bg-soft-success rounded p-2">The last Project <span
                                            class="fw-bold text-dark">$2560.00</span> is Successful!</p>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">All Projects</h4>
                                </div><!--end col-->
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <a href="#" class="btn bt btn-light dropdown-toggle" data-bs-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="icofont-calendar fs-5 me-1"></i> This Month<i
                                                class="las la-angle-down ms-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Last Week</a>
                                            <a class="dropdown-item" href="#">Last Month</a>
                                            <a class="dropdown-item" href="#">This Year</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Client</th>
                                        <th class="border-top-0">Description</th>
                                        <th class="border-top-0">Budget</th>
                                        <th class="border-top-0">Status</th>
                                        <th class="border-top-0">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for project in projects %}
                                    <tr>
                                        <td><a href="{% url 'project:detail' project.id %}">{{ project.project_name }}</a>
                                        </td>
                                        <td>{{ project.customer.get_full_name }}</td>
                                        <td>{{ project.description|slice:20 }}</td>
                                        <td>${{ project.project_budget }}</td>
                                        <td>
                <span class="badge bg-{{ project.project_status|status_badge_color }} text-{{ project.project_status|status_text_color }} fs-11 fw-medium px-2 text-white">
                    {{ project.get_project_status_display }}
                </span>
                                        </td>
                                        <td>
                                            <a href="#"><i class="las la-print text-secondary fs-18"></i></a>
                                            <a href="#"><i class="las la-download text-secondary fs-18"></i></a>
                                            <a href="#"><i class="las la-trash-alt text-secondary fs-18"></i></a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">No projects found.</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div><!--end /div-->
                            <div class="d-lg-flex justify-content-lg-between mt-2">
                                <div class="mb-2 mb-lg-0">
                                    <a href="{% url 'project:create' %}" class="btn btn-primary px-4">Add Project</a>
                                </div>
                                <div>
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul><!--end pagination-->
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->

            </div><!--end row-->

        </div><!-- container -->

        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
{% endblock %}











