{% extends 'dashboard/base.html' %}
{% block title %}Customer Detail{% endblock %}
{% load static %}
{% load project_tags %}
{% load custom_filters %}


{% block content %}
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                            <h4 class="page-title">Invoice</h4>
                            <div class="">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#">CATALYST</a>
                                    </li><!--end nav-item-->
                                    <li class="breadcrumb-item"><a href="#">{{ invoice.project }}</a>
                                    </li><!--end nav-item-->
                                    <li class="breadcrumb-item active">Invoice</li>
                                </ol>
                            </div>
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">

                    <div class="col-md-6">


                        <div class="col-md-12">
                            <div class="card shadow-lg">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4 class="card-title">{{ invoice.invoice_number }}</h4>
                                            <p class="text-muted mt-1">{{ invoice.subject }}</p>
                                        </div><!--end col-->
                                        <div class="col-auto">

                                        </div><!--end col-->
                                    </div>  <!--end row-->
                                </div><!--end card-header-->
                                <div class="card-body pt-0">
                                    <ul class="list-unstyled mb-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class=""><i
                                                        class="las la-user me-2 text-secondary fs-22 align-middle"></i>
                                                    <b> Client Name </b> :<a
                                                            href="#">
                                                        {{ invoice.client_name }}</a>
                                                </li>
                                                <li class="mt-2"><i
                                                        class="las la-briefcase me-2 text-secondary fs-22 align-middle"></i>
                                                    <b> Project </b> : {{ invoice.project.project_name }}
                                                </li>
                                                <li class="mt-2"><i
                                                        class="las la-university me-2 text-secondary fs-22 align-middle"></i>
                                                    <b> Payment Status </b>:
                                                    {% if invoice.status == "PAID" %}
                                                        <span class="badge bg-success-subtle text-success fs-11
                                                    fw-medium px-2">
                                                        {{ invoice.status }}
                                                    </span>
                                                    {% else %}
                                                        <span class="badge bg-danger-subtle text-danger fs-11
                                                            fw-medium px-2">
                                                            {{ invoice.status }}
                                                        </span>
                                                    {% endif %}
                                                </li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="mt-2"><i
                                                        class="las la-language me-2 text-secondary fs-22 align-middle"></i>
                                                    <b> Address </b> : {{ invoice.address }}
                                                </li>
                                                <li class="mt-2"><i
                                                        class="las la-phone me-2 text-secondary fs-22 align-middle"></i>
                                                    <b>
                                                        Phone </b> : {{ invoice.phone }}
                                                </li>
                                                <li class="mt-2"><i
                                                        class="las la-envelope text-secondary fs-22 align-middle me-2"></i>
                                                    <b> Amount </b> : {{ invoice.total_amount }} PKR
                                                </li>
                                            </div>
                                        </div>

                                    </ul>
                                    <p class="text-muted pt-0 fw-medium mt-3">{{ invoice.notes|slice:150 }}...</p>


                                </div><!--end card-body-->
                            </div>
                        </div>
                        <div class="card-body shadow-lg p-2 bg-soft-secondary rounded-bottom mt-2">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="mt-1 mb-0 fw-medium fs-14 text-dark">
                                        Client: {{ invoice.client_name }}</h5>
                                    <p class="text-dark text-uppercase mb-0 fw-normal fs-12">
                                        Company: {{ invoice.company_name }}</p>
                                </div>
                                <!--end col-->
                                <div class="col-6 align-self-center text-end">
                                    <p class="text-dark text-uppercase mb-0 fw-normal fs-12"><i
                                            class="fas fa-money-check fs-12 me-1 text-dark"></i>Contact:
                                        {{ invoice.phone }}</p>
                                    <h5 class="mt-1 mb-0 fw-medium fs-14 text-dark">Address:
                                        {{ invoice.address }}</h5>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                {% if object.status == "PENDING" %}
                                <a href="{% url 'invoice:invoice-paid' object.pk %}"><div class="btn btn-danger">
                                    Mark as Paid
                                </div></a>
                                {% else %}
                                    <p class="text-success text-center">Invoice Paid & funds Transferred</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>


                    </div>

                    <div class="col-md-6" id="printable-section">
                        <div class="col-12">
                            <div class="card" style="
                                position: relative;
                                padding: 20px;
                                background-color: #ffffff;
                                border: 1px solid #ccc;">

                                <div style="
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-image: url({% static 'logo.png' %});
                                        background-repeat: no-repeat;
                                        background-size: 50%;
                                        background-position: center;
                                        opacity: 0.07; /* Make the watermark barely visible */
                                        pointer-events: none;
                                        z-index: 1;">
                                </div>
                                <div class="card-body rounded-top">
                                    <div class="row">
                                        <div class="col-4 align-self-center">
                                            {% if invoice.letterhead %}
                                                <img src="{% static 'img/logo.png' %}" alt="logo-small"
                                                     class="logo-sm me-1 ms-4"
                                                     height="70">
                                                <p class="mt-2">CATALYST COMMUNICATIONS</p>
                                            {% else %}
                                                <div class="row" style="height: 120px"></div>
                                            {% endif %}

                                        </div>
                                        <hr><!--end col-->
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-12 text-end align-self-center">
                                            <h5 class="mb-1 fw-semibold text-dark"><span
                                                    class="text-dark">Invoice:</span>
                                                {{ invoice.invoice_number }}</h5>
                                            <h5 class="mb-0 fw-semibold text-dark"><span
                                                    class="text-dark">Issue Date:</span>
                                                {{ invoice.date|date:"d-m-Y" }}</h5>
                                        </div><!--end col-->
                                    </div>
                                </div><!--end card-body-->

                                <div class="row justify-content-between d-print-flex">
                                    <div class="col-md-5 ms-2">
                                        <div class=" d-print-flex align-self-center float-right">
                                            <div class="">
                                                <h5 class="my-1 fw-semibold fs-18">Catalyst Communications</h5>
                                                <p class=" mb-0">Peshawar, Pakistan</p>
                                                <p class=" mb-0">info@catalystcommunications.pk</p>
                                                <p class="text-muted ">https://catalystcommunications.pk/</p>
                                            </div>
                                        </div><!--end col-->

                                    </div>
                                    <div class="col-md-5 me-2"
                                         style="display: flex !important; justify-content: flex-end !important;">
                                        <div class="d-print-flex align-self-center">
                                            <div class="text-end" style="text-align: right !important;">
                                                <span class="badge rounded text-dark bg-light">Invoice</span><br>
                                                <address class="fs-13 ms-1" style="display: block !important;">
                                                    <strong class="fs-14">Billed To :</strong><br>
                                                    {{ invoice.project.customer.get_full_name }} <br>
                                                    {{ invoice.address }}<br>
                                                    <strong title="Phone">Phone:</strong> {{ invoice.project.customer.phone }}
                                                </address>
                                            </div>
                                        </div><!--end col-->
                                    </div>

                                </div>
                                <div class="card-body">
                                    <div class="row row-cols-3 d-flex justify-content-md-between ">

                                    </div><!--end row-->

                                    <div class="row bg-white">
                                        <div class="col-lg-12 bg-white">
                                            <div class="table-responsive project-Invoice bg-white">
                                                <table class="table table-bordered mb-0">
                                                    <thead class="table-light">
                                                    <tr>
                                                        <th style="width: 60%;">Project Breakdown</th>
                                                        <!-- Larger width for Project Breakdown -->
                                                        <th style="width: 10%;">Rate</th>
                                                        <th style="width: 10%;">Quantity</th>
                                                        <th style="width: 10%;">Tax</th>
                                                        <th style="width: 10%;">Subtotal</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in invoice.items.all %}
                                                        <tr>
                                                            <td>
                                                                <h5 class="mt-0 mb-1 fs-14">{{ item.item_name }}</h5>
                                                                <p class="mb-0 text-muted">{{ item.description }}</p>
                                                            </td>
                                                            <td>{{ item.rate }} PKR</td>
                                                            <td>{{ item.quantity }}</td>
                                                            <td>{{ item.tax }}</td>
                                                            <td>${{ item.get_total_amount }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    <tr>
                                                        <td colspan="1" class="border-0"></td>
                                                        <td colspan="1" class="border-0"></td>
                                                        <td colspan="2" class="border-0 fs-14 text-dark"><b>Sub
                                                            Total:</b>
                                                        </td>
                                                        <td class="border-0 fs-14 text-dark">
                                                            <b>{{ invoice.total_amount }}
                                                                PKR</b>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th colspan="1" class="border-0"></th>
                                                        <th colspan="1" class="border-0"></th>
                                                        <td colspan="2" class="border-0 fs-14 text-dark"><b>In Words</b>
                                                        </td>
                                                        <td class="border-0 fs-14 text-dark"><b>
                                                            {{ invoice.total_in_words|capitalize_and_replace }}</b></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1" class="border-0"></th>
                                                        <th colspan="1" class="border-0"></th>
                                                        <td colspan="2" class="border-0 fs-14"><b>Total</b></td>
                                                        <td class="border-0 fs-14"><b>{{ invoice.total_amount }}</b>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>  <!--end /div-->
                                        </div>  <!--end col-->
                                    </div><!--end row-->

                                    <div class="row text-end">
                                        <div class="col-lg-6">

                                        </div> <!--end col-->
                                        <div class="col-lg-6 align-self-center">
                                            <div class="float-none float-md-end" style="width: 30%;">
                                                <img src="{% static 'website/images/extra/signature.png' %}" alt=""
                                                     class="mt-2 mb-1" height="24">
                                                <p class="border-top">Account Manager Signature</p>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <hr>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                                            <div class="text-center"><small class="fs-12">Thank you very much for doing
                                                business
                                                with us.</small></div>
                                        </div><!--end col-->
                                        <div class="col-lg-12 col-xl-4">
                                            <div class="float-end d-print-none mt-2 mt-md-0">
                                                <a href="javascript:void(0)" onclick="printSection()"
                                                   class="btn btn-info">Print</a>

                                                <a href="{% url 'project:detail' pk=invoice.project.id %}"
                                                   class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div>
                            </div>
                        </div> <!-- end col -->


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        function printSection() {
            var printContents = document.getElementById("printable-section").innerHTML;
            var originalContents = document.body.innerHTML;

            // Replace the body content with only the printable section's content
            document.body.innerHTML = printContents;

            // Trigger the print dialog
            window.print();

            // Restore the original page content after printing
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}