{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="page-wrapper w-50">
        <div class="page-content">
            <div class="container-fluid">

                <div class="card p-4">
                    <h2 class="text-center mt-3">Create a New Category</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{%  endblock %}