{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="page-wrapper w-50">
        <div class="page-content">
            <div class="container-fluid">

                <div class="card p-4 mt-5">
                    <h4 class="text-center mt-3">New Expense Category</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{%  endblock %}