{% extends 'dashboard/base.html' %}
{% block title %} Expenses {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">


                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">All Expenses</h4>

                </div>

                <div class="row">
                    <div class="col-md-6 ms-auto text-end">
                        <a href="{% url 'expense:expense-category-list' %}" class=" btn btn-soft-primary mb-3">
                            Expense Categories</a>

                        <!-- Button to trigger modal -->
                        <button type="button" class="btn btn-soft-warning mb-3" data-bs-toggle="modal"
                                data-bs-target="#exampleModalCenter">
                            Generate Expense Sheet
                        </button>

                        <a href="{% url 'expense:journal-create' %}" class=" btn btn-soft-danger mb-3">Create General
                            Expense</a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" data-bs-backdrop="false" tabindex="-1"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" role="dialog">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content  shadow-lg">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="exampleModalCenterTitle">Generate Expense
                                            Sheet</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div><!--end modal-header-->
                                    <div class="modal-body">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                        </form>
                                    </div><!--end modal-body-->

                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Expense List</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="border-top-0">Date</th>
                                        <th class="border-top-0">Category</th>
                                        <th class="border-top-0">Description</th>
                                        <th class="border-top-0">Amount</th>
                                        <th class="border-top-0">Source</th>
                                        <th class="border-top-0">Vendor</th>
{#                                        <th class="border-top-0">Delete</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in entries %}
                                        <tr>
                                            <td>{{ expense.created_at|date:"d M Y" }}
                                                <span>{{ expense.created_at|time:"h:ia" }}</span>
                                            </td>
                                            <td>{{ expense.expense_category.name }}</td>
                                            <td>{{ expense.reason|slice:20 }}</td>
                                            <td>{{ expense.amount }}</td>
                                            <td>
                                                {% if expense.budget_source == 'CASH' %}
                                                    <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">Cash</span>
                                                {% elif expense.budget_source == 'CLIENT' %}
                                                    <span class="badge bg-info-subtle text-info fs-11 fw-medium px-2">Client</span>
                                                {% elif expense.budget_source == 'LOAN' %}
                                                    <span class="badge bg-danger-subtle text-danger fs-11 fw-medium px-2">Loan</span>
                                                {% else %}
                                                    <span class="badge bg-success-subtle text-success fs-11 fw-medium px-2">Account</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ expense.destination }}</td>
{#                                            <td><i class="fa fa-trash text-danger"></i></td>#}
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5">No expenses available.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div><!--end /div-->
                            <div class="d-lg-flex justify-content-lg-between mt-2">
                                <div>
                                    <ul class="pagination mt-1">
                                        {% if expenses.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ expenses.previous_page_number }}">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Previous</a>
                                            </li>
                                        {% endif %}

                                        {% for num in expenses.paginator.page_range %}
                                            <li class="page-item {% if expenses.number == num %}active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endfor %}

                                        {% if expenses.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ expenses.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div>
            </div>
        </div>
    </div>


    <script>
        // Set today's date as the default for the ending date
        document.addEventListener('DOMContentLoaded', function () {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('endDate').value = today;
        });
    </script>
{% endblock %}