{% extends 'dashboard/base.html' %}
{% block title %}Create Customer{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">


                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title"> Add Journal Expense</h4>
                    <div class="">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'customer:index' %}">Customers</a>
                            </li><!--end nav-item-->
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}


                                    <div class="row">
                                        <div class=" col-md-6 mb-3">
                                            {{ form.description|as_crispy_field }}
                                        </div>

                                        <!-- Amount -->
                                        <div class=" col-md-6 mb-3">
                                            {{ form.amount|as_crispy_field }}
                                        </div>

                                    </div>
                                    <!-- Description -->


                                    <!-- Budget Source -->
                                    <div class="mb-3">
                                        {{ form.budget_source|as_crispy_field }}
                                    </div>

                                    <!-- Account (conditionally shown) -->
                                    <div id="account-field" style="display: none;" class="mb-3">
                                        {{ form.account|as_crispy_field }}
                                    </div>


                                    <div class="row">

                                        <div class="mb-3 col-md-6">
                                            {{ form.category|as_crispy_field }}
                                        </div>

                                        <!-- Vendor -->
                                        <div class="mb-3 col-md-6">
                                            {{ form.vendor|as_crispy_field }}
                                        </div>

                                    </div>

                                    <!-- Category -->


                                    <button type="submit" class="btn btn-primary">Submit Expense</button>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div>

                                    </h4>
                                    <table class="table mb-0">
                                        <tbody>
                                        <tr class="">
                                            <td class="px-0">
                                                <div class="d-flex align-items-center">
                                <span
                                        class="thumb-md justify-content-center d-flex align-items-center bg-success-subtle text-success rounded-circle me-2">CIH</span>
                                                    <div class="flex-grow-1 text-truncate">
                                                        <h6 class="m-0 text-truncate">Cash in hand</h6>
                                                        <p class="font-12 mb-0 text-muted">20 August 2024</p>
                                                    </div>
                                                    <!--end media body-->
                                                </div>
                                                <!--end media-->
                                            </td>
                                            <td class="px-0 text-end"><span
                                                    class="text-primary ps-2 align-self-center text-end">{{ cashinhand }} PKR</span>
                                            </td>
                                        </tr>
                                        <!--end tr-->
                                        <tr class="">
                                            <td class="px-0">
                                                <div class="d-flex align-items-center">
                                <span
                                        class="thumb-md justify-content-center d-flex align-items-center bg-warning-subtle text-warning rounded-circle me-2">ACC</span>
                                                    <div class="flex-grow-1 text-truncate">
                                                        <h6 class="m-0 text-truncate">Account Balance</h6>
                                                        <p class="font-12 mb-0 text-muted">15 August 2024</p>
                                                    </div>
                                                    <!--end media body-->
                                                </div>
                                                <!--end media-->
                                            </td>
                                            <td class="px-0 text-end"><span
                                                    class="text-primary ps-2 align-self-center text-end"> {{ account_balance }} PKR</span>
                                            </td>
                                        </tr>
                                        <!--end tr-->

                                        </tbody>
                                    </table>
                                    <!--end table-->
                                    <div class="row mb-0">
                                        <div class="col-lg-12">
                                            <div class="card mb-0 mt-2">
                                                <div class="card-body">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col">
                                                            <p class="text-dark mb-1 fw-semibold">Total Expenses</p>
                                                            <h3 class="my-2 fs-24 fw-bold text-danger">{{ total_expenses }}
                                                                PKR</h3>
                                                            <p class="mb-0 text-truncate text-muted"><i
                                                                    class="ti ti-thumb-up text-success fs-18"></i>
                                                                <span class="text-dark fw-semibold">{{ expenses_today }}</span>
                                                                Expenses
                                                                Today
                                                            </p>
                                                        </div>
                                                        <div class="col-auto align-self-center">
                                                            <div
                                                                    class="d-flex justify-content-center align-items-center thumb-xl bg-light rounded-circle mx-auto">
                                                                <i class="fas fa-coins fs-30 align-self-center text-muted"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end card-body-->
                                            </div>
                                            <!--end card-->
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        // JavaScript to toggle visibility of the account dropdown
        const budgetSourceField = document.querySelector('select[name="budget_source"]');
        const accountField = document.getElementById('account-field');

        budgetSourceField.addEventListener('change', function () {
            if (this.value === 'ACC') { // Updated to match the new 'Account Balance' value
                accountField.style.display = 'block';
            } else {
                accountField.style.display = 'none';
            }
        });

        // Trigger the initial visibility based on the default value
        document.addEventListener('DOMContentLoaded', function () {
            if (budgetSourceField.value === 'ACC') { // Updated to match the new 'Account Balance' value
                accountField.style.display = 'block';
            } else {
                accountField.style.display = 'none';
            }
        });
    </script>
{% endblock %}
