
<!DOCTYPE html>
<html lang="en" dir="ltr" data-startbar="dark" data-bs-theme="light">
{% load static %}


<head>


    <meta charset="utf-8"/>
    <title>CATALYST | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="CRM FOR CATALYST COMS" name="CATALYST COMMUNICATIONS"/>
    <meta content="" name="author"/>
    {% block head %}

    {% endblock %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">


    <!-- App css -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/css/app.min.css' %}" rel="stylesheet" type="text/css"/>
    <script>
        // Check the saved theme in localStorage and apply it immediately
        (function () {
            var savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                document.documentElement.setAttribute("data-bs-theme", savedTheme);
            } else {
                document.documentElement.setAttribute("data-bs-theme", "light");
            }
        })();
    </script>

</head>
<style>
    body {
        zoom: 0.9;
    }
</style>

    <body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center row">

            <div class="col-md-12 ms-5 mt-5">
                <p class="fs-3"> <span class="text-danger">Opps!</span> You don't have the access to this page.</p>
                <p class="lead">
                    Please contact the admin.
                </p>
                <a href="{% url 'dashboard:index' %}" class="btn btn-primary">Go Home</a>
            </div>

        </div>
    </div>
</body>


