{% extends 'dashboard/base.html' %}
{% block title %}Create Customer{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">

                <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                    <h4 class="page-title">
                        <a class="btn btn-secondary btn-sm" href="{% url 'loan:lender-detail' loan.lender.pk %}"><i
                                class="fa fa-arrow-left-long me-1"></i> Go Back</a>
                        Loan Management
                    </h4>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="card bg-globe-img shadow-lg">
                                <div class="card-body">
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="fs-16 fw-semibold">Loan Remaining:</span>
                                            <form class="">
                                                <div>
                                                    <div class="dynamic-select example-select" id="dynamic-select"
                                                         style="">
                                                        <input type="hidden" name="example-select" value="1">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <h4 class="my-2 fs-24 fw-semibold">{{ loan.remaining_amount }} <small
                                                class="font-14">PKR</small>
                                        </h4>
                                        <p class="mb-3 text-dark fw-semibold">
                                            <span class="text-success"><i
                                                    class="fas fa-calendar me-1"></i>Created on: {{ loan.date_issued }}: </span>
                                            {{ loan.reason }}
                                        </p>
                                        <p class="mb-3 text-dark fw-semibold">
                                            <span class="text-danger"><i class="fas fa-arrow-up-long me-1"></i>Payable after interest: {{ loan.payable_after_interest }} ({{ loan.interest_rate }})% </span>
                                        </p>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <div class="p-2 border-dashed border-theme-color rounded">
                                                <h5 class="mt-1 mb-0 fw-medium">{{ loan.loan_amount }} PKR</h5>
                                                <small class="text-muted">Starting Amount</small>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-4">
                                            <div class="p-2 border-dashed border-theme-color rounded">
                                                <h5 class="mt-1 mb-0 fw-medium">{{ loan.get_total_paid }} PKR</h5>
                                                <small class="text-success">Paid</small>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-4">
                                            <div class="p-2 border-dashed border-theme-color rounded">
                                                <h5 class="mt-1 mb-0 fw-medium">{{ loan.remaining_amount }} PKR</h5>
                                                <small class="text-danger">Remaining</small>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <div class="row mt-3 d-flex align-items-center">
                                    <span class="fs-16 fw-semibold"><i
                                            class="fas fa-user me-3"></i>Lender Details</span>
                                    </div>
                                    <div class="card-body p-2 bg-soft-secondary rounded-bottom mt-2"
                                         style="max-height: 80px">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="mt-1 mb-0 fw-medium fs-14 text-dark">{{ loan.lender.name }}</h5>
                                                <p class="text-dark text-uppercase mb-0 fw-normal fs-12">DUE
                                                    DATE: {{ loan.due_date }}</p>
                                            </div>
                                            <!--end col-->
                                            <div class="col-6 align-self-center text-end">
                                                <p class="text-dark text-uppercase mb-0 fw-normal fs-12"><i
                                                        class="fas fa-money-check fs-12 me-2 text-dark"></i>Lender BIC:
                                                    {{ loan.lender.bic }}</p>
                                                <h5 class="mt-1 mb-0 fw-medium fs-14 text-dark">IBAN:
                                                    {{ loan.lender.iban }}</h5>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div>

                                    <!--                                <p class="mb-0  mt-2 text-success fst-italic">The last transaction 2560.00 is-->
                                    <!--                                    Successful!</p>-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div>
                    </div>

                    {% if loan.is_repaid %}
                        <div class="col-md-6">
                            <div class="row">
                                <div class="card border-2">
                                    <div class="card-body">
                                        <h4 class="text-center">Previous Installments</b> </h4>

                                        {% if return_logs %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Amount Returned</th>
                                                    <th>Remarks</th>
                                                    <th>Created At</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for log in return_logs %}
                                                    <tr>
                                                        <td>{{ log.created_at|date:"d M Y" }}</td>
                                                        <td>{{ log.amount }}</td>
                                                        <td>{{ log.reason|default:"N/A" }}</td>
                                                        <td>{{ log.created_at }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p class="card-text text-danger text-center">No returns have been made on
                                                this
                                                loan
                                                yet.</p>
                                        {% endif %}
                                    </div><!--end card-body-->
                                </div>
                                <!--end col-->
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <div class="card border-2">
                                <h4 class="text-center" style="margin-top: 18px">Return loan for <b>
                                    {{ project.project_name }}</b></h4>

                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary mt-3 float-end">Return Amount
                                        </button>
                                    </form>

                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div>
                    {% endif %}

                </div>

                {% if loan.is_repaid %}

                {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="card border-2">
                                    <div class="card-body">
                                        <h4 class="text-center">Previous Installments</b> </h4>

                                        {% if return_logs %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Amount Returned</th>
                                                    <th>Remarks</th>
                                                    <th>Created At</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for log in return_logs %}
                                                    <tr>
                                                        <td>{{ log.created_at|date:"d M Y" }}</td>
                                                        <td>{{ log.amount }}</td>
                                                        <td>{{ log.reason|default:"N/A" }}</td>
                                                        <td>{{ log.created_at }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p class="card-text text-danger text-center">No returns have been made on
                                                this
                                                loan
                                                yet.</p>
                                        {% endif %}
                                    </div><!--end card-body-->
                                </div>
                                <!--end col-->
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>


{% endblock %}

